body {
    margin: 0;
    padding: 0;

    color: #283136;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: none;

    clip-path: inset(100%);
}

.container {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* header block*/

.main-header {
    padding-bottom: 15px;

    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-top: 50px;
    margin-right: 202px;

    outline-style: none;
}

.main-header-logo[href]:focus,
.main-header-logo[href]:hover {
    opacity: 0.8;
}

.main-header-logo[href]:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    align-items: flex-end;

    text-transform: uppercase;

    color: #000000;

    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.site-navigation,
.user-navigation {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation {
    width: 540px;
    /*Временно для показа сетки*/

    outline: 1px solid green;
}

.user-navigation {
    justify-content: flex-end;

    width: 160px;
    margin-left: auto;
    /*Временно для показа сетки*/

    outline: 1px solid green;
}

.site-navigation a,
.user-navigation a {
    position: relative;

    display: block;

    margin-bottom: 9px;

    color: #000000;
    outline-style: none;
}

.site-navigation li:not(:last-child),
.site-navigation li:not(:last-child) {
    margin-right: 46px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current::after,
.user-navigation .current::after {
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;

    content: "";

    border-bottom: 2px solid #fb565a;
}

.cart-link > a {
    position: relative;

    padding-left: 40px;
}

.cart-link a::before {
    position: absolute;
    top: 6px;
    left: 0;

    width: 15px;
    height: 15px;

    content: "";

    background-image: url("../img/icons/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* slider block*/

.features-wrapper {
    background-color: #eeeeee;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    margin: 0;
    padding: 0;

    list-style: none;
    /*Временно для показа сетки*/

    outline: 1px solid red;
}

.features-list h3 {
    margin: 0;
    padding: 0;

    color: #000000;

    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

/* products block */

.products {
    margin-bottom: 40px;
    padding-bottom: 80px;

    border-bottom: 2px solid #818181;
}

.products-list-large {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
    /*Временно для показа сетки*/

    outline: 1px solid goldenrod;
}

.products-list-large h3 {
    text-transform: uppercase;

    color: #000000;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.products-item-large {
    width: 300px;
    /*Временно для показа сетки*/

    outline: 1px solid skyblue;
}

.products-item-large:not(:last-child) {
    margin-right: 100px;
}

/* about block */

.about {
    display: flex;
    justify-content: space-between;

    margin-bottom: 45px;
    margin-left: auto;
    padding-bottom: 78px;

    border-bottom: 2px solid #818181;
    /*Временно для показа сетки*/
    outline: 1px solid palevioletred;
}

.about-work {
    width: 660px;
    /*Временно для показа сетки*/

    outline: 1px solid yellowgreen;
}

.accuracy {
    width: 360px;
    /*Временно для показа сетки*/

    outline: 1px solid yellowgreen;
}

.slogan {
    color: #000000;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.products-header {
    text-transform: uppercase;

    font-weight: 700;
}

.products-list-small {
    list-style: none;
}

/* accuracy block */

.accuracy-samples caption {
    text-transform: uppercase;

    color: #000000;

    font-weight: 700;
}

.sample-percent {
    font-weight: 700;
}

.sample-text {
    line-height: 18px;
}

/* all buttons */

.button {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #ffffff;
    border: 0;
    outline-style: none;

    font: inherit;
    font-weight: 500;
    line-height: 18px;
}

.button-red {
    background-color: #fb565a;
}

.button-red:focus,
.button-red:hover {
    background-color: #e74246;
}

.button-red:active {
    color: rgba(129, 129, 129, 0.3);
    background-color: #d7373b;
}

.button-green {
    background-color: #00ca74;
}

.button-green:focus,
.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(129, 129, 129, 0.3);
    background-color: #00aa62;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:focus,
.button-yellow:hover {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(129, 129, 129, 0.3);
    background-color: #e5a722;
}

.button-gray {
    color: #000000;
    background-color: #eeeeee;
}

.button-gray:focus,
.button-gray:hover {
    background-color: #dfdfdf;
}

.button-gray:active {
    color: rgba(129, 129, 129, 0.3);
    background-color: #d5d5d5;
}

.button-gray.current,
.button-gray.current:hover,
.button-gray.current:focus,
.button-gray.current:active {
    color: #000000;
    border: 3px solid #dbdbdb;
    background-color: #ffffff;
}

/* partners block */

.partners {
    display: flex;
    justify-content: space-around;

    margin-bottom: 80px;
    padding-bottom: 45px;

    text-align: center;

    border-bottom: 2px solid #818181;
    /*Временно для показа сетки*/
    outline: 1px solid greenyellow;
}

.partners img {
    opacity: 0.2;
    /*Временно для показа сетки*/
    outline: 1px solid red;
}

.partners img:hover,
.partners img:focus {
    opacity: 1;
}

.partners img:active {
    opacity: 0.1;
}

/* footer block */

.footer-location {
    position: relative;

    width: 1440px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
}

.footer-location img {
    background-color: #e9e5dc;
}

.footer-contacts {
    position: absolute;
    top: 54px;
    left: 140px;

    box-sizing: border-box;
    width: 320px;
    height: 310px;
    padding: 47px 50px;

    background-color: #ffffff;
}

.footer-contacts b {
    text-transform: uppercase;

    color: #000000;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.footer-contacts p {
    color: #666666;

    line-height: 18px;
}

.footer-social {
    display: flex;
    /*Временно для показа сетки*/

    outline: 1px solid forestgreen;
}

.social-list {
    display: flex;

    width: 260px;
    margin: 0;
    margin-right: 140px;
    padding: 0;

    list-style: none;

    text-align: center;
    /*Временно для показа сетки*/

    outline: 1px solid pink;
}

.social-list a {
    color: #000000;
}

.footer-social p {
    width: 560px;
    /*Временно для показа сетки*/

    outline: 1px solid pink;
}

.footer-social b {
    color: #000000;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.social-discount {
    color: #444444;

    line-height: 22px;
}

/* write us form */

.form-header {
    color: #000000;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.write-us-form label {
    color: #000000;

    font-weight: 700;
    line-height: 18px;
}

.write-us-form input,
.write-us-form textarea {
    color: rgba(68, 68, 68, 0.5);
    border: 2px solid #d7dcde;
    outline-style: none;

    font: inherit;
    line-height: 18px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    color: rgba(68, 68, 68, 1);
    border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    color: rgba(68, 68, 68, 1);
    border-color: #000000;
}

/* Использовать не получается, т.к. пустое поле при загрузке уже считается невалидным */

/* .write-us-form input:invalid,
.write-us-form textarea:invalid {
    color: #e74246;
    border-color: #e74246;
} */

/* catalog page */

.page-title-wrapper {
    background-color: #eeeeee;
}

.page-title {
    margin-top: 0;
    margin-bottom: 55px;
    padding-top: 70px;
    padding-bottom: 100px;

    text-align: center;

    color: #000000;

    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;

    margin-bottom: 60px;
    /*Временно для показа сетки*/

    outline: 1px solid pink;
}

.main-column-wrapper {
    display: flex;
    flex-direction: column;

    width: 760px;
    /*Временно для показа сетки*/

    outline: 1px solid gold;
}

/* filters block */

.filters {
    width: 260px;
    /*Временно для показа сетки*/

    outline: 1px solid skyblue;
}

.filter-form legend {
    text-transform: uppercase;

    color: #000000;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.filter-form fieldset {
    border: none;
}

.price-range-input label {
    text-transform: uppercase;

    line-height: 22px;
}

.price-range-input input {
    text-align: center;

    border: none;
    outline-style: none;
    background-color: #eeeeee;
}

.filter-list {
    list-style: none;

    line-height: 20px;
}

.filter-input-radio:checked + label,
.filter-input-checkbox:checked + label {
    color: #000000;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
    color: rgba(40, 49, 54, 0.3);
}

/* sorting block */

.sorting {
    display: flex;

    margin-bottom: 50px;
    /*Временно для показа сетки*/

    outline: 1px solid skyblue;
}

.sort-header {
    margin-right: 265px;

    text-transform: uppercase;

    color: #000000;
    /*Временно для показа сетки*/
    outline: 1px solid green;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.sort-list,
.sort-direction {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
    /*Временно для показа сетки*/

    outline: 1px solid green;

    font-size: 14px;
    line-height: 18px;
}

.sorting a {
    color: rgba(0, 0, 0, 0.3);
    outline-style: none;
}

.sorting a:hover,
.sorting a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting a:active,
.sort-active a {
    color: rgba(0, 0, 0, 1);
}

/* catalog */

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    list-style: none;
    /*Временно для показа сетки*/

    outline: 1px solid skyblue;
}

.catalog-item {
    box-sizing: border-box;
    width: 360px;
    margin-right: 40px;
    margin-bottom: 33px;
    /*Временно для показа сетки*/

    outline: 1px solid green;
}

.catalog-item:hover {
    border: 1px solid rgba(77, 77, 77, 0.1);
    box-shadow: 6px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:nth-child(even) {
    margin-right: 0;
}

.item-description {
    background-color: #eeeeee;
}

.item-header a {
    text-transform: uppercase;

    color: #000000;
    outline-style: none;
}

.item-header a:hover,
.item-header a:focus {
    color: #fb565a;
}

.item-header a:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-description p {
    color: #666666;

    line-height: 18px;
}

/* pagination block */

.pagination-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}
