body {
    margin: 0;
    padding: 0;

    color: #283136;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: none;

    clip-path: inset(100%);
}

.container {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* header block*/

.main-header {
    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-top: 50px;

    outline-style: none;
}

.main-header-logo[href]:focus,
.main-header-logo[href]:hover {
    opacity: 0.8;
}

.main-header-logo[href]:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    align-items: flex-end;

    text-transform: uppercase;

    color: #000000;

    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.site-navigation,
.user-navigation {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation {
    justify-content: center;

    width: 800px;
    padding: 25px 20px 0 20px;
}

.user-navigation {
    justify-content: flex-end;

    width: 160px;
    margin-left: auto;
}

.user-navigation li:not(:first-child) {
    padding-left: 20px;
}

.site-navigation a,
.user-navigation a {
    position: relative;

    display: block;

    margin-bottom: 9px;

    color: #000000;
    outline-style: none;
}

.site-navigation li:not(:last-child),
.site-navigation li:not(:last-child) {
    margin-right: 46px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active::after,
.user-navigation .active::after {
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;

    content: "";

    border-bottom: 2px solid #fb565a;
}

.cart-link>a {
    position: relative;

    padding-left: 40px;
}

.cart-link a::before {
    position: absolute;
    top: 6px;
    left: 0;

    width: 15px;
    height: 15px;

    content: "";

    background-image: url("../img/icons/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* slider block*/

.features-wrapper {
    background-color: #eeeeee;
}

.features {
    position: relative;

    margin-bottom: 78px;
}

.features-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.features-item {
    display: none;

    padding: 78px 0 80px 0;
}

.features-item:nth-child(1) {
    display: block;
}

.features-item h3 {
    max-width: 560px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    color: #000000;

    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.features-item p {
    max-width: 420px;
    margin-bottom: 39px;
}

.features-item .button {
    width: 240px;
}

.features-item:nth-child(1) {
    background-image: url("../img/feature-slide-1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.features-item:nth-child(2) {
    background-image: url("../img/feature-slide-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.features-item:nth-child(3) {
    background-image: url("../img/feature-slide-3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

.features-slider-controls {
    position: absolute;
    z-index: 10;
    bottom: 90px;
    left: 50%;

    transform: translateX(-50%);
}

.slider-button {
    position: relative;

    display: inline-block;

    width: 18px;
    height: 18px;
    padding: 15px;

    cursor: pointer;

    border: 0;
    border-radius: 50%;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0);

    font-size: 0;
}

.slider-button::after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 18px;
    height: 18px;

    content: "";
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: #ffffff;
}

.slider-button.active::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;

    content: "";
    transform: translate(-50%, -50%);

    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

/* products block */

.products {
    margin-bottom: 40px;
    padding-bottom: 80px;

    border-bottom: 2px solid #eeeeee;
}

.products-list-large {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.products-item-large {
    width: 300px;
}

.products-list-large h3 {
    margin: 17px 0;
    padding: 0;

    text-transform: uppercase;

    color: #000000;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.products-list-large p {
    margin-bottom: 33px;
}

.products-item-large:not(:last-child) {
    margin-right: 100px;
}

.products-item-large .button {
    width: 160px;
}

/* about block */

.about {
    display: flex;
    justify-content: space-between;

    margin-bottom: 45px;
    margin-left: auto;
    padding-bottom: 73px;

    border-bottom: 2px solid #eeeeee;
}

.about-work {
    width: 660px;
}

.slogan {
    display: block;

    margin: 33px 0;

    color: #000000;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.about-work p {
    margin-bottom: 40px;
}

.products-header {
    display: block;

    padding-bottom: 23px;

    text-transform: uppercase;

    font-weight: 700;
}

.products-list-small {
    margin: 0;
    padding: 0;

    list-style: none;
}

.products-list-small li {
    position: relative;

    padding-bottom: 24px;
    padding-left: 36px;
}

.products-list-small li:last-child {
    padding-bottom: 0;
}

.products-list-small li::before {
    position: absolute;
    top: 10px;
    left: 0;

    width: 25px;

    content: "";

    border-bottom: 2px solid #fb565a;
}

/* accuracy block */

.accuracy {
    width: 360px;
}

.accuracy img {
    margin-bottom: 29px;
}

.accuracy-samples caption {
    margin-bottom: 38px;

    text-transform: uppercase;

    color: #000000;

    font-weight: 700;
}

.sample-percent {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.sample-percent td {
    position: relative;

    width: 120px;
    padding: 0;
    padding-bottom: 16px;
}

.sample-percent sup {
    top: -16px;

    font-size: 50%;
}

.sample-text {
    line-height: 18px;
}

/* all buttons */

.button {
    display: block;

    box-sizing: border-box;
    padding: 16px 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border: 0;
    border-radius: 3px;
    outline-style: none;

    font: inherit;
    font-weight: 500;
    line-height: 18px;
}

.button-red {
    background-color: #fb565a;
}

.button-red:focus,
.button-red:hover {
    background-color: #e74246;
}

.button-red:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}

.button-green {
    background-color: #00ca74;
}

.button-green:focus,
.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
    box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:focus,
.button-yellow:hover {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
    box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}

.button-gray {
    color: #000000;
    background-color: #eeeeee;
}

.button-gray:focus,
.button-gray:hover {
    background-color: #dfdfdf;
}

.button-gray:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d5d5d5;
    box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}

.button-gray.active,
.button-gray.active:hover,
.button-gray.active:focus,
.button-gray.active:active {
    padding: 13px 0;

    cursor: default;

    color: #000000;
    border: 3px solid #dbdbdb;
    background-color: #ffffff;
    box-shadow: none;
}

/* partners block */

.partners {
    margin-bottom: 80px;
    padding-bottom: 36px;

    border-bottom: 2px solid #eeeeee;
}

.partners ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0;
    padding: 0;

    list-style: none;
    /* text-align: center; */
}

.partners li {
    position: relative;

    display: flex;
    justify-content: space-around;

    width: 290px;
}

.partners img {
    opacity: 0.2;
}

.partners img:hover,
.partners img:focus {
    opacity: 1;
}

.partners img:active {
    opacity: 0.1;
}

/*partners position correctives*/

.partners-item:nth-of-type(1) a {
    padding: 7px 33px 0 0;
}

.partners-item:nth-of-type(2) a {
    padding: 2px 8px 0 0px;
}

.partners-item:nth-of-type(3) a {
    padding-left: 7px;
}

.partners-item:nth-of-type(4) a {
    padding: 3px 0 0 27px;
}

.partners-item:not(:last-of-type) a::after {
    position: absolute;
    top: 50%;
    left: 100%;

    height: 52px;

    content: "";

    border-left: 2px solid #eeeeee;
}

.partners-item:nth-of-type(1) a::after {
    transform: translate(-11px, -60%);
}

.partners-item:nth-of-type(2) a::after {
    transform: translate(-1px, -60%);
}

.partners-item:nth-of-type(3) a::after {
    transform: translate(9px, -60%);
}

/* footer block */

.main-footer {
    margin-bottom: 65px;
}

.footer-location {
    position: relative;

    overflow: hidden;

    height: 416px;
    margin-bottom: 68px;
}

.footer-location img {
    position: absolute;
    z-index: 10;
    z-index: 10;
    top: 0;
    left: 50%;

    width: 1440px;
    max-width: none;
    height: 416px;

    transform: translateX(-50%);

    background-color: #e9e5dc;
}

.footer-contacts-wrapper {
    margin-top: 54px;
}

.footer-contacts {
    position: relative;
    z-index: 20;

    box-sizing: border-box;
    width: 320px;
    padding: 49px 50px 46px 50px;

    background-color: #ffffff;
}

.footer-contacts b {
    display: block;

    margin-bottom: 24px;

    text-transform: uppercase;

    color: #000000;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.footer-contacts p {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;

    color: #666666;

    line-height: 18px;
}

.footer-contacts .button {
    width: 220px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 279px;
    margin: 0;
    margin-right: 120px;
    padding: 0;

    list-style: none;

    text-align: center;
}

.social-button {
    position: relative;

    margin-right: 11px;
    margin-bottom: 11px;
}

.social-button a {
    display: block;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button a:focus,
.social-button a:hover {
    background-color: #e74246;
}

.social-button a:active {
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}

.social-button a:active::before {
    opacity: 0.3;
}

.social-button a::before {
    position: absolute;
    top: 50%;
    left: 50%;

    content: "";
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
}

.social-button .vk::before {
    width: 26px;
    height: 15px;

    background-image: url("../img/social-vk-icon.svg");
}

.social-button .fb::before {
    width: 12px;
    height: 22px;

    background-image: url("../img/social-fb-icon.svg");
}

.social-button .insta::before {
    width: 21px;
    height: 21px;

    background-image: url("../img/social-insta-icon.svg");
}

.social-button a {
    color: #000000;
}

.footer-social p {
    width: 700px;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
}

.footer-social b {
    display: block;

    padding-bottom: 9px;

    color: #000000;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.social-discount {
    color: #444444;

    line-height: 22px;
}

/* write us form */

.form-header {
    color: #000000;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.write-us-form label {
    color: #000000;

    font-weight: 700;
    line-height: 18px;
}

.write-us-form input,
.write-us-form textarea {
    color: rgba(68, 68, 68, 0.5);
    border: 2px solid #d7dcde;
    outline-style: none;

    font: inherit;
    line-height: 18px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    color: rgba(68, 68, 68, 1);
    border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    color: rgba(68, 68, 68, 1);
    border-color: #000000;
}

/* Использовать не получается, т.к. пустое поле при загрузке уже считается невалидным */

/* .write-us-form input:invalid,
.write-us-form textarea:invalid {
    color: #e74246;
    border-color: #e74246;
} */

/* catalog page */

.page-title-wrapper {
    background-color: #eeeeee;
}

.page-title {
    margin-top: 0;
    margin-bottom: 55px;
    padding-top: 77px;
    padding-bottom: 108px;

    text-align: center;

    color: #000000;

    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;

    margin-bottom: 59px;
}

.main-column-wrapper {
    display: flex;
    flex-direction: column;

    width: 760px;
}

/* filters block */

.filters {
    width: 260px;
}

.filter-form legend {
    text-transform: uppercase;

    color: #000000;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

/* price filter */

.filter-form .price-filter {
    margin-bottom: 55px;
}

.price-range-container {
    height: 2px;
    margin: 48px 0 13px 0;
    padding: 39px 21px;

    border-radius: 2px;
    background-color: #eeeeee;
}

.price-range-scale {
    height: inherit;

    background-color: #d7dcde;
}

.price-range-bar {
    position: relative;

    width: 68%;
    height: inherit;

    background-color: #00ca74;
}

.price-range-button {
    position: absolute;
    top: 50%;

    box-sizing: content-box;
    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;
    transform: translate(-50%, -50%);

    border: 8px solid #ffffff;
    border-radius: 50%;
    outline: 0;
    background-color: #ababab;
    box-shadow: 0 2px 0 0 #cccdcd;
}

.price-range-button.range-min {
    left: 0;
}

.price-range-button.range-max {
    left: 100%;
}

.price-input {
    display: flex;
    justify-content: space-between;
}

.price-input label {
    text-transform: uppercase;

    line-height: 22px;
}

.price-input input {
    width: 80px;
    height: 38px;
    margin-left: 8px;
    padding: 0;

    text-align: center;

    border: none;
    border-radius: 2px;
    outline-style: none;
    background-color: #eeeeee;
}

/* layout and module filters */

.filter-form .layout-filter {
    margin-bottom: 25px;
}

.filter-form .module-filter {
    margin-bottom: 30px;
}

.layout-filter legend,
.module-filter legend {
    margin-bottom: 16px;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;

    line-height: 20px;
}

.filter-item {
    margin-bottom: 20px;
}

.filter-item label {
    position: relative;

    padding-left: 37px;
}

.filter-input-radio+label::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 26px;
    height: 26px;

    content: "";
    transform: translateY(-50%);

    opacity: 0.4;
    background-image: url("../img/icons/icon-radio-off.svg");
    background-repeat: no-repeat;
}

.filter-input-radio:checked+label::before {
    background-image: url("../img/icons/icon-radio-on.svg");
}

.filter-input-checkbox+label::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 27px;
    height: 23px;

    content: "";
    transform: translateY(-50%);

    opacity: 0.4;
    background-image: url("../img/icons/icon-checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked+label::before {
    background-image: url("../img/icons/icon-checkbox-on.svg");
}

.filter-input-radio:hover+label::before,
.filter-input-checkbox:hover+label::before {
    opacity: 1;
}

.filter-input-radio:focus+label,
.filter-input-checkbox:focus+label,
.filter-input-radio:hover+label,
.filter-input-checkbox:hover+label {
    color: #000000;
}

.filter-input-radio:disabled+label,
.filter-input-checkbox:disabled+label {
    color: rgba(40, 49, 54, 0.3);
}

.filter-input-radio:disabled+label::before,
.filter-input-checkbox:disabled+label::before {
    opacity: 0.1;
}

.filter-form .button {
    width: 100%;
}

/* sorting block */

.sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 55px;
}

.sort-header {
    width: 360px;
    margin: 0;
    margin-top: 3px;
    padding: 0;

    text-transform: uppercase;

    color: #000000;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.sort-types-wrapper {
    display: flex;
}

.sort-list,
.sort-direction {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    text-transform: uppercase;

    font-size: 14px;
    line-height: 18px;
}

.sort-list {
    flex-wrap: wrap;

    width: 300px;
    padding-top: 5px;
}

.sort-list li {
    padding-right: 25px;
}

.sort-direction {
    width: 60px;
    padding-top: 8px;
}

.sort-direction li {
    padding-left: 19px;
}

.sort-type {
    color: rgba(0, 0, 0, 0.3);
    outline-style: none;
}

.sort-type:hover,
.sort-type:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-type:active,
.sort-type.active {
    color: rgba(0, 0, 0, 1);
}

.sort-icon {
    display: block;

    border-right: 5.5px solid transparent;
    border-bottom: 10px solid rgba(35, 31, 32, 0.2);
    border-left: 5.5px solid transparent;
}

.sort-icon:hover,
.sort-icon:focus {
    border-bottom-color: #a6a6a6;
}

.sort-icon:active {
    border-bottom-color: rgba(35, 31, 32, 1);
}

.sort-icon.active {
    transform: rotate(180deg);

    border-bottom-color: rgba(35, 31, 32, 1);
}

/* catalog */

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    list-style: none;
}

.catalog-item {
    position: relative;
    box-sizing: border-box;
    border-top: 40px solid rgba(77, 77, 77, 0.12);
    width: 360px;
    margin-right: 40px;
    margin-bottom: 33px;
    border-radius: 3px;
}

.catalog-item img {
    width: 360px;
    height: 576px;
    display: block;
}

.catalog-item::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 16px;
    top: -27px;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    box-shadow: 23px 0 #ffffff, 46px 0 #ffffff;
}

.catalog-item:hover {
    border-top: 40px solid rgba(77, 77, 77, 1);
    box-shadow: 6px 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:hover .item-description {
    opacity: 1;
}

.catalog-item:nth-child(even) {
    margin-right: 0;
}

.item-description {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 11px 60px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    min-height: 231px;
    background-color: #eeeeee;
}

.item-header {
    margin: 20px 0 17px 0;
    padding: 0;
}

.item-header a {
    text-transform: uppercase;

    color: #000000;
    outline-style: none;
}

.item-header a:hover,
.item-header a:focus {
    color: #fb565a;
}

.item-header a:active {
    color: rgba(0, 0, 0, 0.3);
}

.item-description p {
    color: #666666;
    line-height: 18px;
    margin-bottom: 30px;
    display: block;
}

.catalog-item .button {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

/* pagination block */

.pagination-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item {
    margin-right: 11px;
}

.pagination-item .button {
    width: 50px;
}

.pagination-item:last-child .button {
    width: 260px;
}

/* write us window */

.modal-write-us {
    display: none;
}
